
{% extends 'cadastro/base.html' %}

{% load static %}

{% block title %}Filmes e Séries Assistidos{% endblock %}

{% block head %}
    <link rel="stylesheet" type="text/css" href="{% static 'cadastro/styles_listar.css' %}">
{% endblock %}

{% block content %}
<div class="assistidos">
    <h2>Filmes e Séries Assistidos</h2>
    <ul>
        {% for filme in filmes_series %}
            <li class="filme-serie-item">
                <img src="{{ filme.capa.url }}" alt="Capa de {{ filme.nome }}">
                <h3>{{ filme.nome }}</h3>
                <p class="categoria">Categoria: {{ filme.categoria }}</p>
                <p class="descricao" data-full-text="{{ filme.descricao }}">
                    {{ filme.descricao|truncatechars:100 }}
                </p>
                <button class="ver-mais">Ver mais</button>
            </li>
        {% empty %}
            <p>Nenhum filme ou série assistido.</p>
        {% endfor %}
    </ul>
    <a href="{% url 'listar_nao_assistidos' %}" class='button'>Ver Não Assistidos</a>
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            const buttons = document.querySelectorAll('.ver-mais');
    
            buttons.forEach(button => {
                button.addEventListener('click', function () {
                    const descricao = this.previousElementSibling; // Pega o parágrafo antes do botão
                    const fullText = descricao.getAttribute('data-full-text');
    
                    if (this.textContent === 'Ver mais') {
                        descricao.textContent = fullText;
                        descricao.style.whiteSpace = 'normal'; // Permitir quebra de linha
                        this.textContent = 'Ver menos';
                    } else {
                        descricao.textContent = fullText.substring(0, 100) + '...';
                        descricao.style.whiteSpace = 'nowrap'; // Voltar ao truncamento
                        this.textContent = 'Ver mais';
                    }
                });
            });
        });
    </script>
</div>
{% endblock %}
