body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #141414; /* Fundo escuro como o do Netflix */
    color: white;
}

nav {
    background-color: #333;
    padding: 10px;
    text-align: center;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    font-size: 18px;
}

nav ul li a:hover {
    color: #e50914; /* Vermelho Netflix no hover */
}

h2 {
    text-align: center;
    margin-top: 30px;
    font-size: 28px;
    color: #fff;
}

.container {
    width: 80%;
    margin: 20px auto;
    padding: 20px;
    padding-top: 40px;
}

.button {
    background-color: #e50914; /* Vermelho Netflix */
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 5px;
    margin: 10px 0;
    border: 1px solid #bbb;
    font-size: 14px;
    transition: background-color 0.3s ease;
}

.button:hover {
    background-color: #f40612; /* Vermelho mais intenso no hover */
}

.filmes-series-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px;
    margin-top: 20px;
}

.filme-serie-item {
    background-color: #333; /* Fundo escuro para cada item */
    border: 1px solid #555;
    padding: 15px;
    width: 220px;
    text-align: center;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5);
    transition: transform 0.2s ease;
}

.filme-serie-item:hover {
    transform: scale(1.05); /* Efeito de aumento no hover */
}

.filme-serie-item img {
    width: 100%;
    border-radius: 5px;
    margin-bottom: 10px;
}

.filme-serie-item h3 {
    font-size: 18px;
    color: #fff;
    margin-bottom: 10px;
}

.filme-serie-item p {
    font-size: 14px;
    color: #ccc;
    margin-bottom: 10px;
}

.actions {
    display: flex;
    justify-content: space-between;
}

.actions a {
    text-decoration: none;
    color: white;
}

.assistidos, .nao-assistidos div{
    margin-top: 50px;  /* O mesmo padding-top para as páginas Assistidos e Não Assistidos */
}

/* Adicionando a estrutura flex para as páginas de assistidos e não assistidos */
.assistidos ul, .nao-assistidos ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px;
    margin-top: 20px;
    padding: 0; /* Remover o padding da lista */
    list-style: none; /* Remover os marcadores da lista */
}

.assistidos ul li, .nao-assistidos ul li {
    background-color: #333; /* Fundo escuro para cada item */
    border: 1px solid #555;
    padding: 15px;
    width: 220px;
    text-align: center;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5);
    transition: transform 0.2s ease;
    flex-shrink: 0; /* Impedir que os itens encolham */
}

.assistidos ul li:hover, .nao-assistidos ul li:hover {
    transform: scale(1.05); /* Efeito de aumento no hover */
}

.assistidos ul li img, .nao-assistidos ul li img {
    width: 100%;
    border-radius: 5px;
    margin-bottom: 10px;
}